/* Fondo blanco para el contenido */
ion-content {
    --background: #e6eff8;
    padding: 16px;
  }
  
  /* Estilo para los items */
  ion-item {
    margin-bottom: 16px;
    background-color: wheat
;
  }
  
  /* Botones */
  ion-button {
    margin-top: 16px;
  }
  