<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button default-href="#" ></ion-back-button>
      </ion-buttons>
      <ion-title> Resetear Constraseña </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="page-container">
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>



    <ion-button shape="round" (click)="resetPassword()" color="tertiary">Resetear</ion-button>


  </div>


</ion-content>
